*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.banner-container{
    width: 70%;
    height: 6rem;
    background-image: url("https://d-themes.com/react/porto/demo4/images/home/banners/banner-4.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-left{
    width: 7rem;
    padding: 0.7rem;
    font-weight: 600;
}